<footer class="site-footer">

  <div class="wrapper">

    <h3 class="footer-header center">Join the mailing list</h3>

    {% include signup.html %}

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <h3 class="footer-header">Subscribe</h3>
        <ul class="contact-list">
          <li><a href="https://itunes.apple.com/us/podcast/antiheroine/id1260424503">Subscribe on iTunes</a></li>
          <li><a href="http://feeds.feedburner.com/antiheroinepodcast">Subscribe via RSS</a></li>
          <li><a href="https://soundcloud.com/antiheroinepodcast">Download on Soundcloud</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <h3 class="footer-header">Connect</h3>
        <ul class="social-media-list">
          <li><a href="http://twitter.com/antiheroinecast">Twitter</a></li>
          <li><a href="http://instagram.com/antiheroinepodcast">Instagram</a></li>
          <!-- <li>Store</li> -->
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <h3 class="footer-header">About</h3>
        <p class="text">Antiheroine is a podcast about scandalous women in history, written, hosted and produced by <a href="http://jenmyers.net">Jen Myers</a>.</p>
      </div>
    </div>

  </div>

</footer>
