<footer class="site-footer">

  <div class="wrapper">



    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <h3 class="footer-header">Subscribe</h3>
        <ul class="contact-list">
          <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">Subscribe on iTunes</a></li>
          <li><a href="">Subscribe via RSS</a></li>
          <li><a href="">Download on Soundcloud</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <h3 class="footer-header">Connect</h3>
        <ul class="social-media-list">
          <li><a href="http://twitter.com/antiheroinecast">Twitter</a></li>
          <li><a href="">Instagram</a></li>
          <li><a href="">Store</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <h3 class="footer-header">About</h3>
        <p class="text">Antiheroine is a podcast about scandalous women in history, written, hosted and produced by <a href="http://jenmyers.net">Jen Myers</a>.</p>
      </div>
    </div>

  </div>

</footer>
