<header class="site-header">

  <div class="wrapper">

    <img src="{{ site.baseurl }}/images/antiheroine-circle.png" />

    <h1 class="site-title"><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>

    <h2 class="site-tagline">{{ site.tagline }}</h2>

    <div class="nav-external">

      <a class="nav-link" href="/">Subscribe</a>
      <a class="nav-link" href="http://feeds.feedburner.com/antiheroinepodcast">RSS</a>
      <a class="nav-link" href="https://soundcloud.com/antiheroinepodcast">Download</a>
      <a class="nav-link" href="http://twitter.com/antiheroinecast">Twitter</a>
      <a class="nav-link" href="http://instagram.com/antiheroinepodcast">Instagram</a>
      <!-- Store -->

    </div>

  </div>

</header>
