<header class="site-header">

  <div class="wrapper">

    <img src="{{ site.baseurl }}/images/antiheroine-circle.png" />

    <h1 class="site-title"><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>

    <h2 class="site-tagline">{{ site.tagline }}</h2>

    <div class="nav-external">

      <a class="nav-link" href="{{ "/feed.xml" | prepend: site.baseurl }}">Subscribe</a>
      <a class="nav-link" href="/">RSS</a>
      <a class="nav-link" href="/">Download</a>
      <a class="nav-link" href="/">Twitter</a>
      <a class="nav-link" href="/">Instagram</a>
      <a class="nav-link" href="/">Store</a>

    </div>

  </div>

</header>
